<h1 class="inv-title"><%= title %></h1>
<%- messages() %>

<form
  id="updateForm"
  action="/inv/update/"
  onsubmit="return validateForm()"
  method="post"
  class="add-inventory-form">
  <div class="form-group">
    <label for="invMake">Make:</label>
    <input
      type="text"
      id="invMake"
      name="inv_make"
      class="form-control"
      value="<%= inv_make %>"
      required
    />
  </div>
  <div class="form-group">
    <label for="invModel">Model:</label>
    <input
      type="text"
      id="invModel"
      name="inv_model"
      class="form-control"
      value="<%= inv_model %>"
      required
    />
  </div>
  <div class="form-group">
    <label for="invYear">Year:</label>
    <input
      type="number"
      id="invYear"
      name="inv_year"
      class="form-control"
      value="<%= inv_year %>"
      required
    />
  </div>
  <div class="form-group">
    <label for="invDescription">Description:</label>
    <textarea
      id="invDescription"
      name="inv_description"
      class="form-control"
      value="<%= inv_description %>"
      required
    >
<%= typeof inv_description != 'undefined' ? inv_description : '' %></textarea
    >
  </div>
  <div class="form-group">
    <label for="invPrice">Price:</label>
    <input
      type="number"
      id="invPrice"
      name="inv_price"
      class="form-control"
      value="<%= inv_price %>"
      required
    />
  </div>
  <div class="form-group">
    <label for="invMiles">Miles:</label>
    <input
      type="number"
      id="invMiles"
      name="inv_miles"
      class="form-control"
      value="<%= inv_miles %>"
      required
    />
  </div>
  <div class="form-group">
    <label for="invColor">Color:</label>
    <input
      type="text"
      id="invColor"
      name="inv_color"
      class="form-control"
      value="<%= inv_color %>"
      required
    />
  </div>
  <div class="form-group">
    <label for="classificationId">Classification:</label>
    <select
      id="classificationId"
      name="classification_id"
      class="form-control"
      required
    >
    <% classifications.forEach(function(classification) { %>
      <option value="<%= classification.classification_id %>" <%= classification_id == classification.classification_id ? 'selected' : '' %>>
        <%= classification.classification_name %>
      </option>
    <% }); %>
    </select>
  </div>
  <div class="form-group">
    <label for="invImage">Image Path:</label>
    <input
      type="text"
      id="invImage"
      name="inv_image"
      class="form-control"
      value="<%= inv_image %>"
      required
    />
  </div>
  <div class="form-group">
    <label for="invThumbnail">Thumbnail Path:</label>
    <input
      type="text"
      id="invThumbnail"
      name="inv_thumbnail"
      class="form-control"
      value="<%= inv_thumbnail %>"
      required
    />
  </div>
  <button type="submit" class="submit-button" disabled>Edit Inventory Item</button>
  <input type="hidden" name="inv_id"
<% if(locals.inv_id) { %> value="<%= locals.inv_id %>"
<% } %>>
</form>

<script src="../../js/inv-update.js"></script>