<div class="vehicle-detail-container">
  <section class="vehicle-image-section">
    <img
      src="<%= vehicle.inv_image %>"
      alt="<%= vehicle.inv_make %> <%= vehicle.inv_model %>"
    />
    <div class="vehicle-thumbnails"></div>
  </section>

  <div class="vehicle-info-section">
    <h1>
      <%= vehicle.inv_year %> <%= vehicle.inv_make %> <%= vehicle.inv_model %>
    </h1>

    <section class="vehicle-specs">
      <p class="price">
        $<%= parseFloat(vehicle.inv_price).toLocaleString() %> - Price Firm
      </p>
        <h4><%= vehicle.inv_description %></h4>
      <div>
        <p>Mileage: <%= vehicle.inv_miles %></p>
        <p>Color: <%= vehicle.inv_color %></p>
      </div>
      <section class="actions">
        <button>Start My Purchase</button>
        <button>Contact Us</button>
        <button>Schedule Test Drive</button>
        <button>Apply for Financing</button>
      </section>
    </section>

    
  </div>
</div>
